<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeName</key>
		<string>espresso</string>
		<key>imageName</key>
		<string>espresso.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>americano</string>
		<key>imageName</key>
		<string>americano.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>cappuccino</string>
		<key>imageName</key>
		<string>cappuccino.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>latte</string>
		<key>imageName</key>
		<string>latte.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>latte-macchiato</string>
		<key>imageName</key>
		<string>latte-macchiato.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>mocha</string>
		<key>imageName</key>
		<string>mocha.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>glace</string>
		<key>imageName</key>
		<string>glace.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>irish-coffee</string>
		<key>imageName</key>
		<string>irish-coffee.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>frappe</string>
		<key>imageName</key>
		<string>frappe.jpg</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>vienne-coffee</string>
		<key>imageName</key>
		<string>vienne-cappuccino.jpg</string>
	</dict>
</array>
</plist>
